MARIADB_ROOT_PASSWORD=change-root-password
MARIADB_DATABASE=suitecrm
MARIADB_USER=suitecrm
MARIADB_PASSWORD=change-db-password

SUITECRM_USERNAME=admin
SUITECRM_PASSWORD=change-admin-password
SUITECRM_EMAIL=you@yourdomain.com